[MESSAGES CONTROL]
disable=
    missing-module-docstring,
    missing-function-docstring,
    missing-class-docstring,
    too-few-public-methods,
    broad-exception-caught

[FORMAT]
# Maximum number of characters on a single line.
max-line-length=150

[MASTER]
init-hook='import sys, os; sys.path.insert(0, os.path.abspath("src"))'
